body{
  background-color: #f2f2f2;
}
//start style for Gifphy list
//How to name css
//parent class - child class
.App{
  padding-top: 30px;
  .gifphy{
    background-color: #fff;
    padding: 5px;
    .gifphy-photo {
      margin-bottom: 7px;
      img{
        max-width: 100%;
      }
      .gifphy-photo-grid{
        height: 100px;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
      }
    }
    .gifphy-info{
      span{
        color: #a9a9a9;
        font-size: 12px;
        margin-left: 10px;
        &:first-child{
          margin-left: 0;
        }
        i{
          margin-right: 3px;
        }
      }
    }
    .gifphy-link{
      color: #a9a9a9;
      position: absolute;
      top: 3px;
      left: 3px;
      font-size: 16px;
      z-index: 2;
      text-decoration: none !important;
    }
  }
  .gifphy-user{
    margin-top: 10px;
    margin-bottom: 15px;
    .gifphy-user-avatar{
      position: absolute;
      width: 30px;
      height: 30px;
      overflow: hidden;
      border-radius: 50%;
      img{
        max-width: 100%;
      }
    }
    .gifphy-user-name{
      font-size: 13px;
      padding-left: 40px;
      margin:0;
      line-height: 30px;
      text-transform: capitalize;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .App{
    .gifphy{
      .gifphy-photo {
        .gifphy-photo-grid{
          height: 150px;
        }
      }
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}